In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('results.csv')

In [8]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [9]:
df.tail()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
38944,2018-05-28,Turkey,Iran,2,1,Friendly,Istanbul,Turkey,False
38945,2018-05-28,Korea Republic,Honduras,2,0,Friendly,Daegu,Korea Republic,False
38946,2018-05-28,Bosnia-Herzegovina,Montenegro,0,0,Friendly,Zenica,Bosnia-Herzegovina,False
38947,2018-05-28,Malawi,Mauritius,0,1,COSAFA Cup,Polokwane,South Africa,True
38948,2018-05-28,Angola,Botswana,1,2,COSAFA Cup,Polokwane,South Africa,True

In [16]:
len(df.index)

38949

In [19]:
df.shape

(38949, 9)

In [25]:
df.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

In [31]:
df[['home_team','away_team']]

                 home_team                 away_team
0                 Scotland                   England
1                  England                  Scotland
2                 Scotland                   England
3                  England                  Scotland
4                 Scotland                   England
5                 Scotland                     Wales
6                  England                  Scotland
7                    Wales                  Scotland
8                 Scotland                   England
9                 Scotland                     Wales
10                 England                     Wales
11                 England                  Scotland
12                   Wales                  Scotland
13                Scotland                   England
14                   Wales                   England
15                Scotland                     Wales
16                 England                     Wales
17                 England                  Scotland
18                   Wales                  Scotland
19        Northern Ireland                   England
20                   Wales          Northern Ireland
21                Scotland                   England
22                   Wales                   England
23                Scotland                     Wales
24                 England                     Wales
25                 England          Northern Ireland
26                 England                  Scotland
27                   Wales                  Scotland
28        Northern Ireland                     Wales
29        Northern Ireland                  Scotland
...                    ...                       ...
38919             Malaysia                    Bhutan
38920  Trinidad and Tobago                    Panama
38921             Zimbabwe                  Botswana
38922  St. Kitts and Nevis                   Jamaica
38923  Antigua and Barbuda                   Jamaica
38924                 Iraq                 Palestine
38925              Algeria              Saudi Arabia
38926               Kuwait                 Palestine
38927         Saudi Arabia                    Greece
38928                 Iran                Uzbekistan
38929               Jordan                    Cyprus
38930               Kuwait                     Egypt
38931                Kenya                 Swaziland
38932                China                     Burma
38933             Cameroon              Burkina Faso
38934                Niger  Central African Republic
38935           Madagascar                Mozambique
38936              Comoros                Seychelles
38937                  USA                   Bolivia
38938              Nigeria                  Congo DR
38939                Kenya         Equatorial Guinea
38940             Portugal                   Tunisia
38941                Italy              Saudi Arabia
38942               France                   Ireland
38943               Mexico                     Wales
38944               Turkey                      Iran
38945       Korea Republic                  Honduras
38946   Bosnia-Herzegovina                Montenegro
38947               Malawi                 Mauritius
38948               Angola                  Botswana

[38949 rows x 2 columns]

In [36]:
df.describe()

         home_score    away_score
count  38949.000000  38949.000000
mean       1.740995      1.180415
std        1.731274      1.379169
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [42]:
df[df.home_score==3]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
48,1886-11-25,USA,Canada,3,2,Friendly,Newark,USA,False
77,1891-03-21,Wales,Scotland,3,4,British Championship,Wrexham,Wales,False
100,1895-03-30,Scotland,Northern Ireland,3,1,British Championship,Glasgow,Scotland,False
101,1895-04-06,England,Scotland,3,0,British Championship,Liverpool,England,False
106,1896-03-28,Northern Ireland,Scotland,3,3,British Championship,Belfast,Ireland,False
134,1901-03-09,England,Northern Ireland,3,0,British Championship,Southampton,England,False
160,1904-05-01,Belgium,France,3,3,Friendly,Brussels,Belgium,False
161,1904-06-02,Hungary,Austria,3,0,Friendly,Budapest,Hungary,False
164,1905-03-06,Wales,Scotland,3,1,British Championship,Wrexham,Wales,False
166,1905-03-27,England,Wales,3,1,British Championship,Liverpool,England,False
187,1906-11-04,Hungary,Austria,3,1,Friendly,Budapest,Hungary,False
191,1907-03-16,Scotland,Northern Ireland,3,0,British Championship,Glasgow,Scotland,False
197,1907-05-05,Austria,Hungary,3,1,Friendly,Vienna,Austria,False
212,1908-04-26,Netherlands,Belgium,3,1,Friendly,Rotterdam,Netherlands,False
216,1908-06-07,Austria,Germany,3,2,Friendly,Vienna,Austria,False
228,1909-03-01,Wales,Scotland,3,2,British Championship,Wrexham,Wales,False
235,1909-04-04,Hungary,Germany,3,3,Friendly,Budapest,Hungary,False
237,1909-05-02,Austria,Hungary,3,4,Friendly,Vienna,Austria,False
245,1909-10-10,Argentina,Uruguay,3,1,Copa Premio Honor Argentino,Buenos Aires,Argentina,False
248,1910-03-13,Belgium,Netherlands,3,2,Friendly,Antwerp,Belgium,False
261,1910-05-27,Argentina,Chile,3,1,Friendly,Buenos Aires,Argentina,False
265,1910-08-15,Uruguay,Argentina,3,1,Copa Lipton,Montevideo,Uruguay,False
269,1910-11-06,Hungary,Austria,3,0,Friendly,Budapest,Hungary,False
278,1911-03-13,England,Wales,3,0,British Championship,London,England,False
283,1911-04-02,Netherlands,Belgium,3,1,Friendly,Dordrecht,Netherlands,False
288,1911-05-07,Austria,Hungary,3,1,Friendly,Vienna,Austria,False
290,1911-05-21,Switzerland,Italy,3,0,Friendly,La Chaux-de-Fonds,Switzerland,False
302,1911-10-29,Uruguay,Argentina,3,0,Copa Premio Honor Uruguayo,Montevideo,Uruguay,False
313,1912-03-17,Italy,France,3,4,Friendly,Turin,Italy,False
...,...,...,...,...,...,...,...,...,...
38634,2017-11-11,Congo DR,Guinea,3,1,FIFA World Cup qualification,Kinshasa,Congo DR,False
38641,2017-11-11,Namibia,Zimbabwe,3,1,Friendly,Windhoek,Namibia,False
38656,2017-11-13,Armenia,Cyprus,3,2,Friendly,Yerevan,Armenia,False
38666,2017-11-14,Algeria,Central African Republic,3,0,Friendly,Algiers,Algeria,False
38682,2017-11-14,Macau,Kyrgyzstan,3,4,AFC Asian Cup qualification,Macau,Macau,False
38688,2017-11-14,Russia,Spain,3,3,Friendly,St. Petersburg,Russia,False
38698,2017-11-15,Australia,Honduras,3,1,FIFA World Cup qualification,Sydney,Australia,False
38707,2017-12-02,Kyrgyzstan,Mongolia,3,0,Friendly,Banda Aceh,Indonesia,True
38713,2017-12-03,Taiwan,Philippines,3,0,Friendly,Taipei,Taiwan,False
38715,2017-12-04,Indonesia,Mongolia,3,2,Friendly,Banda Aceh,Indonesia,False
38716,2017-12-04,Taiwan,East Timor,3,1,Friendly,Taipei,Taiwan,False
38722,2017-12-05,Zanzibar,Rwanda,3,1,CECAFA Cup,Machakos,Kenya,True
38748,2017-12-15,Vanuatu,Solomon Islands,3,2,Friendly,Port Vila,Vanuatu,False
38765,2017-12-29,Iraq,Yemen,3,0,Friendly,Kuwait City,Kuwait,True
38781,2018-02-26,Saudi Arabia,Moldova,3,0,Friendly,Jeddah,Saudi Arabia,False
38785,2018-03-21,Antigua and Barbuda,Bermuda,3,2,Friendly,St. John's,Antigua and Barbuda,False
38805,2018-03-22,Nicaragua,Cuba,3,1,Friendly,Managua,Nicaragua,False
38806,2018-03-22,Philippines,Fiji,3,2,Friendly,Manila,Philippines,False
38809,2018-03-23,Austria,Slovenia,3,0,Friendly,Klagenfurt,Austria,False
38823,2018-03-23,Mexico,Iceland,3,0,Friendly,Santa Clara,USA,True
38833,2018-03-23,Singapore,Maldives,3,2,Friendly,Kallang,Singapore,False
38852,2018-03-24,Uganda,São Tomé and Príncipe,3,1,Friendly,Kampala,Uganda,False
38856,2018-03-25,Faroe Islands,Liechtenstein,3,0,Friendly,Marbella,Spain,True
38861,2018-03-25,Nicaragua,Cuba,3,3,Friendly,Managua,Nicaragua,False
38879,2018-03-27,Central African Republic,Kenya,3,2,Friendly,Marrakech,Morocco,True
38902,2018-03-27,Peru,Iceland,3,1,Friendly,Harrison,USA,True
38904,2018-03-27,Poland,Korea Republic,3,2,Friendly,Chorzów,Poland,False
38929,2018-05-20,Jordan,Cyprus,3,0,Friendly,Amman,Jordan,False
38934,2018-05-27,Niger,Central African Republic,3,3,Friendly,Niamey,Niger,False
38937,2018-05-28,USA,Bolivia,3,0,Friendly,Chester,United States,False

In [46]:
len(df[df.home_team=="England"])

479

In [47]:
len(df[df.away_team=="England"])

496